Source: elephant
Standards-Version: 4.5.0
Section: utils
Build-Depends: debhelper (>= 12~), bash-completion
Priority: optional
Maintainer: Peter Gasparik <gasparik.pe@gmail.com>

Package: elephant
Architecture: all
Depends: ${misc:Depends}, default-jre | java11-runtime
Description: CLI for deploying PHP applications
 Standardize PHP application deployment process
